[build]
  publish = "dist"
  command = "npm run build"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Content-Security-Policy = "frame-src 'self' https://www.google.com https://maps.google.com https://*.googleapis.com https://*.gstatic.com; default-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com https://maps.google.com https://*.googleapis.com https://*.gstatic.com;"

